{% extends 'layout.html' %}

{% load static %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title text="center">Acerca de Mi</title>
</head>
<body><br>
    <h1 class="">Acerca de mi</h1><br><br><br>
    <div class="text-center">
        <p>
            👋 Hola, soy @briangirod, nacido en Buenos Aires Argentina, estudiante de Programación, actual Semi Sr Help Desk Analyst, apasionado por las ciencias informáticas y la Inteligencia Artificial, autodidacta, proactivo e innovador, con predisposición e interés en el trabajo en equipo. <br><br><br>

            👀 Enfocado en nuevos desafíos y la adquisición de experiencias para mi formación profesional, actualmente me encuentro en un desarrollo personal con meta a formarme como Full Stack Developer. 

            <img src="" alt="">    

            
        </p>
    </div>
   
</body>
</html>

{%endblock%}