{% extends 'layout.html' %}

{% load static %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi usuario</title>
</head>
<body>

    <h1 class="text-center">¡Felicitaciones! {{user.username}}
    </h1>
    <h2 class="text-center">Su usuario ha sido creado satisfactoriamente, inicie sesión</h2>
    <h3 class="text-center"><a href="login">Iniciar Sesión</a></h3>
</body>
</html>

{%endblock%}