{% load static %}


    <link rel="stylesheet" href="{% static  'footer.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<body>
    <footer>
            <div class="footer-content">
                <h2>Contactanos</h2>
                <p>Puedes contactarnos dando click en los iconos para redireccionar a nuestras redes sociales
                </p>
                <ul class="socials">
                    <li><a href="/error404"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="/error404"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="/error404"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="/error404"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/bgirod/"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy;2022 codeOpacity. designed by <span>BryanGirod</span></p>
            </div>
    </footer>
</body>
</html>