{% extends 'layout.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="text-center"><br><br><br><br><br><br>
        <h1>Conversación creada con Éxito</h1><br><br>
        <h3 class="text-center"><a href="/inbox">Inbox</a></a>
    </form><br><br><br><br><br><br>
    
</body>
</html>


{%endblock%}